apiVersion: apps/v1
kind: Deployment
metadata:
  name: issuer-app
  namespace: rediclaim
spec:
  replicas: 1
  selector:
    matchLabels:
      app: issuer-app
  template:
    metadata:
      labels:
        app: issuer-app
    spec:
      containers:
        - name: issuer-app
          image: seongjunnoh/issuer-app:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
          env:
            - name: TZ
              value: "Asia/Seoul"
            - name: SPRING_PROFILES_ACTIVE
              value: "prod"
            - name: SPRING_DATASOURCE_URL
              value: "jdbc:mysql://mysql:3306/rediclaim_db?serverTimezone=Asia/Seoul&characterEncoding=UTF-8"
            - name: SPRING_DATASOURCE_USERNAME
              value: "root"
            - name: SPRING_DATASOURCE_PASSWORD
              value: "root"  # mysql.yml에 설정된 비밀번호와 일치
          resources:
            requests:
              memory: "512Mi"
              cpu: "100m"
            limits:
              memory: "1Gi"
              cpu: "250m"
          livenessProbe:
            httpGet:
              path: /actuator/health
              port: 8080
            initialDelaySeconds: 150
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /actuator/health
              port: 8080
            initialDelaySeconds: 120
            periodSeconds: 5

---

apiVersion: v1
kind: Service
metadata:
  name: issuer-app-svc
  namespace: rediclaim
spec:
  type: ClusterIP
  selector:
    app: issuer-app
  ports:
    - name: http
      port: 8080
      targetPort: 8080