apiVersion: apps/v1
kind: Deployment
metadata:
  name: kafka-ui
  namespace: rediclaim
spec:
  replicas: 1
  selector:
    matchLabels:
      app: kafka-ui
  template:
    metadata:
      labels:
        app: kafka-ui
    spec:
      containers:
        - name: kafka-ui
          image: provectuslabs/kafka-ui:latest
          ports:
            - containerPort: 8080
          env:
            - name: TZ
              value: "Asia/Seoul"
            - name: KAFKA_CLUSTERS_0_NAME
              value: "rediclaim"
            - name: KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS
              value: "kafka.rediclaim.svc.cluster.local:9092"
          resources:
            requests:
              memory: "256Mi"
              cpu: "100m"
            limits:
              memory: "512Mi"
              cpu: "500m"

---

apiVersion: v1
kind: Service
metadata:
  name: kafka-ui
  namespace: rediclaim
spec:
  type: NodePort
  selector:
    app: kafka-ui
  ports:
    - name: http
      port: 8082
      targetPort: 8080
      nodePort: 30082